*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(149, 169, 158);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

main #box1
{
    height: 300px;
    width: 450px;
    background-color: rgb(73, 77, 84);
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

button{
    padding: 10px 40px;
    font-size: 30px;
    background-color: red;
    color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

button:active{
    scale: 0.95;
    background-color: brown;
}